#title {
  margin: 3rem 0;
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.center{
  justify-content: center;
  align-items: center;
}

.left {
  margin-left: 6rem;
}

.right {
  margin-right: 6rem;
}
