#title {
  margin: 3rem 0;
  font-size: 2rem;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.left {
  margin-left: 5rem;
}

.right {
  margin-right: 5rem;
}
